form{
    text-align:justify;
    padding-left:30px;
    
    
    margin: 100px;
    margin-left:10cm;
    
    border-style: double;
  
    
}
h4{
    text-align: justify;
}
   
    h2{
        padding-left: 50px;
    }
    p{
        text-align: justify;
        padding-left: 250px;
    }
  
