<p>passenger works!</p>

    <h3>Passenger Details</h3>    
    <div class="container">
          <label>PassengerName:</label>
          <input   type="text"class="form-control" formControlName="passengername" ><br/><br/>

          <label>Age:</label>
          <input   type="number"class="form-control" formControlName="age" ><br/><br/>

          <label>Gender:</label>
          <input   type="text"class="form-control" formControlName="gender" ><br/><br/>

          <label>ContactNo:</label>
          <input   type="number"class="form-control" formControlName="contactno" ><br/><br/>

          <label>EmailId:</label>
          <input   type="text"class="form-control" formControlName="emailid" ><br/><br/>

          <label>SeatNo:</label>
          <input   type="number"class="form-control" formControlName="seatno" ><br/><br/>

         
          </div>

          <p> <button><a routerLink="booking" class="nav-link" routerLinkActive="active" (click)="docontinue()">Continue</a></button></p>


