<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
<h1>Prakruthi bus</h1>        
    </ul>
    <ul class="nav navbar-nav navbar-right">
<h2>HelloUsername</h2>        
    </ul>
  </div>
</nav>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">About</a></li>
      <li class="active"><a href="#">Terms of Use</a></li>
      <li class="active"><a href="#">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      
    </ul>
  </div>
</nav>
   <div class="navbar-header">
    </div>
    
      <ul class="nav navbar-nav menu">
          <li class="active"><a href="#">Travel &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li> 
          <li class="active"><a href="#">Depart &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a></li> 
          <li class="active"><a href="#">Arrival &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li class="active"><a href="#">Seats &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li> 
          <li class="active"><a href="#">Fare &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li> 
        </ul>
    
    
