
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      
    <div class="navbar-header">

      </div>
      
    <ul class="nav navbar-nav">

      <li class="active"><a href="#">sign up</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Forgot Password</a></li>
      </ul>
      </div>
      </nav>
      <form>
          <div class="form-group">
              <label>Email:</label> 
              <input type="text area" placeholder="Enter Email Address"  class="form-control" formControlName="EmailAddress"/>
     <br> 
     <div class="form-group">
      <label>Password:</label> &nbsp;
      <input type="password" placeholder="Enter Password"   class="form-control" formControlName="password"/>
    </div><br/>
          <br> 
          <div>
              <button type="button" class="signupbtn" (click)="dologin()">Login</button>&nbsp;&nbsp;
              
              <button type="submit" class="cancelbtn">Cancel</button>
            </div>
          <br> <br> <br> <br> <br>   <br> <br> <br> 
          </div>
          </form>
            <div class="navbar-footer">
          
              
            <ul class="nav navbar-nav">
      
              <li class="active"><a href="#">Sign up</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">cancel</a></li>
              </ul>
              </div>


