<!--<app-dashboard></app-dashboard>
<app-loginpage></app-loginpage>
  <app-signup></app-signup>
<app-ticketdetails></app-ticketdetails>
<app-homepage></app-homepage>
<app-booking></app-booking>-->

    <!-- <app-home-page></app-home-page>    -->

 <!-- <app-dashboard></app-dashboard>  -->
 <!-- <app-login></app-login>  -->
 
 <!-- <app-ticketdetails></app-ticketdetails>  -->

   <!-- <app-user></app-user>   -->


    <!-- <app-signup></app-signup>   -->

       <!-- <app-booking></app-booking>    -->
       <!-- <app-passenger></app-passenger> -->
<!-- 
        <app-seating></app-seating>  -->

        <!-- <app-payment></app-payment> -->

       <!-- <app-busdetails></app-busdetails>-->

     <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="container-header">
      </div>
         <ul>
          <li class="active"><a class="navbar-brand" href="#">Prakruthi Bus</a></li>
          <li class="active"><a routerLink="homepage">Home</a></li>
         </ul>
     
      <ul class="nav navbar-nav navbar-right">
      
        <li class="active"><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="active"><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
   
  </nav>

  <router-outlet></router-outlet> 
