<p>payment works!</p>
<h3>Payment Details</h3>

<div class="container">
    <label>Booking Id:</label>
    <input   type="number"class="form-control" formControlName="bookingid" ><br/><br/>

    <label>Payment Type:</label>
    <form action="/action_page.php">
          <input type="radio" id="debitcard" name="fav_language" value="debitcard">
          <label >Debit Card</label><br>
          <input type="radio" id="creditcard" name="fav_language" value="creditcard">
          <label >Credit Card</label><br>
          <input type="radio" id="wallet" name="fav_language" value="wallet">
          <label >Wallet</label><br><br>
         
        </form> 
        
   
    <label>Payment Date:</label>
    <input   type="date"class="form-control" formControlName="paymentdate" ><br/><br/>

    <label>Amount Paid:</label>
    <input   type="number"class="form-control" formControlName="amountpaid" ><br/><br/>

   

   
    </div>

     <p> <button><a routerLink="ticketdetails" class="nav-link" routerLinkActive="active" (click)="docontinue()">Continue</a></button></p>  



