<h3>Booking Details</h3>
<div class="container">
  <label>Booking_Id:</label>
  <input   type="number"class="form-control" formControlName="booking id" ><br/><br/>

      <label>User_id:</label>
      <input   type="number"class="form-control" formControlName="user id" ><br/><br/>
    


      <label>No_of_Tickets</label>
      <input   type="number"class="form-control" formControlName="no of tickets" ><br/><br/>
    
      <div class="form-group">
        <label>No_of_Seats</label>
        <input  type="number"class="form-control" formControlName="mobileNo" >
    </div>

    <div class="form-group">
        <label>Date_of_Booking</label>
        <input  type="date"class="form-control" formControlName="date" >
        

    </div>
   
      <div class="form-group">
        <label>Fare_Amount</label>
      <input  type="number"class="form-control" formControlName="fare amount" >
      <br>

      <!-- <button type="button" class="btn btn-info" (click)="tobook()">Booking</button> -->

      <p> <button><a routerLink="payment" class="nav-link" routerLinkActive="active" (click)="tobook()">Book</a></button></p> 

